<link rel="stylesheet" href="../css/index.css">

<h2>Lista de agências</h2>
<hr>
<a href="/admin/agencies/new-agency"><button type="button" class="btn btn-primary">Nova agência</button></a>

{{#each agency}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{name}}</h4>
            <p>{{city}}</p>
            <small>{{address}}</small>
        </div>
        <div class="btn-row">
            <a href="/admin/agencies/edit-agency"><button type="button" class="btn btn-primary">Editar</button></a>
            <a href="/admin/agencies/edit-agency"><button type="button" class="btn btn-danger">Deletar</button></a>
        </div>
    </div>
{{else}}
    <h4 class="mt-3">Nenhuma agência registrada</h4>
{{/each}}