<link rel="stylesheet" href="../css/index.css">

<div class="container">
    <h2>Painel de administração</h2>
    <hr>
    <div class="btn-container">
        <a href="/admin/agencies"><button type="button" class="btn btn-primary mt-2 ms-3">Agências</button></a>
        <br>
        <a href="/admin/cars"><button type="button" class="btn btn-primary mt-2 ms-3 mb-2">Veículos</button></a>
    </div>
</div>
