<h2>Nova agência</h2>
<hr>
<div class="card text-white">
    <div class="card-body">
        <form action="/admin/api/newAgency" method="POST">
        <label for="name">Nome: </label>
            <input type="text" id="name" name="name" class="form-control">
        <label for="slug">Cidade: </label>
            <input type="text" id="slug" name="city" class="form-control">
        <label for="slug">Endereço: </label>
            <input type="text" id="slug" name="address" class="form-control">
        <br>
        <button type="submit" class="btn btn-success" style="float: right">Adicionar agência</button>    
        </form>
    </div>
</div>