body {
    background-image: linear-gradient(to right top, #FF847C, #FECEA8);
    background-repeat: no-repeat;
    height: 100vh
}

::-webkit-scrollbar {
    width: 6px
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: #888
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,p,small {
    color:white;
}

hr {
    border-top:2px solid white;
}

.btn-container {
    border-radius: 10px;
    background-color:#2A363B;
    width: 150px;
}

.btn-row {
    float: right;
}

.card {
    background-color: #2A363B;
}

.heart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height:30%;
}

.navbar{
    background-color: #99B898
}

.nav-tabs .nav-link.active {
    border-color: transparent;
    background-color: #2A363B !important;
    color: #E84A5F !important;
    border-bottom: 4px solid #E84A5F !important;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
    width: 100%;
    color: #000
}

.nav-tabs .nav-link {
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important
}

.nav-tabs .nav-link.active {
    border-color: transparent;
    background-color: #60D0FF;
    color: #fff;
    font-weight: 600
}

.nav-link:hover {
    border: none
}

.nav-link:focus {
    outline: none
}

.tab-pane {
    background-color: #2A363B;
    height: 300px
}

.form-control {
    height: 45px;
    position: relative
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #E84A5F
}

.form-select:focus {
    outline: none;
    border: 1px solid #E84A5F;
    box-shadow: none;
}

.flight-where-from:after {
    position: absolute;
    content: '23';
    width: 20px;
    height: 20px;
    border-radius: 50%
}

.custom-button {
    height: 45px;
    background-color: #E84A5F;
    border: none;
    color: #fff
}

.custom-button:hover,
.custom-button:focus {
    background-color: #E84A5F;
    box-shadow: none;
    outline: none
}

.scroll-y {
    overflow-y: scroll;
    height: 300px
}